@media (max-width: 768px) {

    .left-navbar {
        display: none;
    }

    .viewport {
        padding: 0px;
        flex-wrap: wrap;
    }

    .content-row {
        flex-wrap: wrap;
        height: 50%;
        width: 100%;
        background-color: rebeccapurple;
    }

    .video-col, .content-col {
        width: 100%;
    }
}